.cta3-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.cta3-max-width {
  gap: 80px;
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.cta3-container1 {
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.cta3-placeholder-image {
  width: 455px;
  height: 492px;
  max-height: 400px;
  border-radius: var(--dl-radius-radius-round);
}
.cta3-column {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-direction: column;
}
.cta3-actions {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
}
@media(max-width: 991px) {
  .cta3-placeholder-image {
    width: 100%;
  }
}
